* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
.main {
  background-image: url(../image/back.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.nav_bar {
  width: 100%;
  height: 80px;
  background-color: #1072e224;
}

.nav_bar .logo {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}
.nav_bar .menu ul {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

.menu li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.heading,
.search {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.search {
  margin-top: 50px;
  background-color: rgba(32, 32, 32, 0.537);
  border-radius: 5px;
}

.in {
  background-color: none;
}
.main2 {
  background-color: #f2f2f2;
  height: 734px;
  width: 100%;
  display: flex;
}
.part1,
.part2,
.part3 {
  height: 400px;
  width: 380px;
  background-color: #e4e4e4;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10px;
}
.part3 {
  margin-right: 350px;
}
.part1 {
  margin-left: 350px;
}
.pp {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.login {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.login_content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.input {
  width: 50%;
  display: black;
  margin: 15px auto;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
footer {
  text-align: center;
  height: 80px;
  background-color: #1072e224;
  color: black;
}
.footer p {
  padding-top: 25px;
}

.search-box {
  position: absolute;
  left: 52%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.src {
  border-radius: 0px !important;
  border: 5px solid #0b2742;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.65rem + 2px);
}
.search-sec {
  /*   border: 5px solid #0b2742;
 */
  background-color: #0b2742;
}
.row {
  margin-right: -53px !important;
  margin-bottom: 5px;
}

